amqp
asgiref
billiard
black
celery
certifi
cffi
charset-normalizer
click
click-didyoumean
click-plugins
click-repl
colorama
contourpy
cryptography
cycler
defusedxml
diff-match-patch
Django
django-allauth
django-cors-headers
django-debug-toolbar
django-extensions
django-filter
django-htmx
django-import-export
django-nested-admin
django-template-partials
django-widget-tweaks
djangorestframework
djangorestframework_simplejwt
et_xmlfile
factory_boy
Faker
fonttools
idna
iniconfig
kiwisolver
kombu
matplotlib
mypy-extensions
numpy
oauthlib
odfpy
openpyxl
packaging
pandas
pathspec
pillow
platformdirs
pluggy
prompt_toolkit
psycopg2-binary
pycparser
Pygments
PyJWT
pyparsing
pytesseract
pytest
pytest-django
python-dateutil
python-dotenv
python-monkey-business
python3-openid
pytz
PyYAML
redis
requests
requests-oauthlib
ruff
seaborn
six
sqlparse
tablib
tabulate
tomli
tzdata
urllib3
vine
wcwidth
xlrd
xlwt
